[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Fight4Ever.app/
*.csproj
*.unityproj
*.user
*.pidb
*.booproj
.vs/
.idea/
*.apk
*.aab
*.xcworkspace
*.xcuserstate
mlagents-env/
mlagents-env39/
