player-connection-mode=Listen
player-connection-guid=3850992844
player-connection-debug=1
player-connection-project-name=fight_4ever
player-connection-ip=192.168.29.84
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=61e55911fc1f43739b2835a336d3776c
