player-connection-mode=Listen
player-connection-guid=1130479241
player-connection-debug=1
player-connection-project-name=fight_4ever
player-connection-ip=192.168.1.6
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=168bfafaa60c406d8b3292631e69bcae
